.idea/
__pycache__/
*.py[cod]
venv/
.env

[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
appsettings.Development.json
/Kovaluk
/Стаття
/KotliarOV_IPZm21_Project.docx
/KotliarOV_IPZm21_Project.pdf
/ІНТЕЛЕКТУАЛЬНА ПЛАТФОРМА АДАПТИВНОГО ТЕСТУВАННЯ ЗНАНЬ З ВИКОРИСТАННЯМ МЕТОДІВ.pptx
/КотлярОВ_презентацiя_Ковалюк.pptx
/КотлярОВ_презентацiя_Юрчук.pptx
